

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #460a8e !important;
    color: #f4e71f;
}

.canvasCustom {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.dropdown-menu li a {
    color: #0c0c00 !important;
    // #0c0c00 is the navbar inverse black color
}

.footer-main {
    position: fixed;
    bottom: 0px;
}

.img-crawler {
    width: 15em;
    height: 12em;
}

.img-tetris {
    width: 12em;
    height: 15em;
}

.jarIcon {
    width: 15em;
    height: 6em;
    border: 1px solid blue;
}

.jumbotron h1 {
    text-shadow: 1px 1px 1px #f4e71f;
}

.jumbotron-main {
    color: #460a8e;
}

.jumbotron-main img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar a {
    color: #f4e71f !important;
}

.navbar-custom {
    background: #460a8e;
}

.navbar-custom a:hover {
    color: #ff0033 !important;

}











